RSpec.configure do |c|

  c.before(:suite) {
    @keychain_list = sh("security keychain-list")
    @default_keychain = sh("securtiy default-keychain")
    @login_keychain = sh("securtiy login-keychain")
  }

  c.after(:suite) {
    sh("security keychain-list -s #{@keychain_list}")
    sh("securtiy default-keychain #{@default_keychain}")
    sh("securtiy login-keychain #{@login_keychain}")
  }
end